*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("fundo_3.jpg");
    background-position-x: 100%;
    background-size: cover;
    font-family: 'The Girl Next Door', cursive;  
    background-attachment: fixed;  
}
body::-webkit-scrollbar {
    background-color: rgb(36, 35, 31);
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
.icones{
    text-align: center;
    
}
.cabeçalho{
    background: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(10px);
    background-position-x: 100%;
    background-position-y: 100%;
    padding: 40px;
   
    justify-content: space-between;
    box-sizing: border-box;
    top: 0%;
    
     
}
.botoes{
    padding-right: 2px;
    text-align: center;
    margin-top: 40px;
}

.botoes a{
    padding: 10px 30px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    background: rgb(0, 0, 0);
    margin-right: 40px;
    text-transform: uppercase;
    min-width: 218px;
    text-align: center;
    transition: 0.5s;
    color: #03e9f4;
    letter-spacing: 4px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
}
.botoes a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 25px #03e9f4;
}
a > span{
    position: absolute;
    display: block;
}
a > span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animation1 1s linear infinite;
}
@keyframes animation1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a > span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animation2 1s linear infinite;
    animation-delay: 0.2s;
   
}

@keyframes animation2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a > span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animation3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animation3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a > span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animation4 1s linear infinite;
    animation-delay: 0.75s;

}


@keyframes animation4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.apresentacao{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
}
.front_end{
    
    text-align: center;
    color: #ffffff98;
    font-size: 30px;
    font-family: 'The Girl Next Door', cursive;
    margin-bottom: 0;
    
}
.nome > p{
    position: relative;
    text-align: center;
    color: #03030356;
    font-size: 50px;
    font-family: 'The Girl Next Door', cursive;
    margin-top: 0;
    animation: animation_nome 4s linear infinite;
    
}
.linkedIn > button{
    background-color: rgba(245, 222, 179, 0);
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    
}
.linkedIn > button > a{
    background-color: rgb(11, 102, 195);
    color: white;
    width:300px;
	border-radius: 20px;
    border: 1px solid white;
    box-shadow: none;
    padding: 10px 30px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    min-width: 218px;
    text-align: center;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    
}
.linkedIn > button > a:hover{
    cursor: pointer;
    box-shadow: none;
}


@keyframes animation_nome{
    0%{
        color: #03030356;
        text-shadow: none;
        
    }
    50%{
        height: 100%;
        color: #03e9f4; 
        text-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 25px #03e9f4;;
       
    }
    100%{
        color: black;
        text-shadow: none;

    }
}
.sobre{
    display: flex;
    justify-content: space-around;
}
.imagem{
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
}
.imagem > img{
    position: relative;
    height: 200px;
    width: 200px;
    animation: animation_cubo 3s linear infinite;
}
@keyframes animation_cubo{
    0%{
        margin-top: 15px;
    }
    50%{
        margin-top: 0px;
    }
    100%{
        margin-top: 15px;
    }
}
.sobre{
    margin: 250px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.minha_img{
    width: 300px;
    height: 300px;
    background-image: url(eu.jpeg);
    background-size: contain;
    border-radius: 50%;    
}
.sobre_mim{  
    color: white;
}
.projetos{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 300px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
h2{
    font-size: 60px;
    color: #ffffff98;
    text-align: center;
    margin-bottom: 150px;
}
.projeto{
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.575);
    margin: 10px 10px auto;
    background-image: url("em_breve.png");
    background-position: 50%; 
    background-size: cover;
    background-repeat: no-repeat;
}
.projeto_1 img{
    width: 350px;
    height: 200px;
    margin: 10px auto;
    color: white;
    text-decoration: none;
}
.projeto:hover{
    animation: em_breve 0.4s linear;
    cursor: pointer;
}
.projeto:active{
    animation: em_breve2 0.4s linear;
}
@keyframes em_breve{
    0%{
       background-position: 50%;
       
    }
    16.6%{
        background-position: 0;
    }
    33.3%{
        background-position: 100%;
    }
    50%{
        background-position: 50%;
     }
    66.6%{
         background-position: 0;
    }
    83.6%{
        background-position: 100%;
    }
    100%{
        background-position: 50%;
    }

}
@keyframes em_breve2{
    0%{
       background-position: 50%;
       
    }
    16.6%{
        background-position: 0;
    }
    33.3%{
        background-position: 100%;
    }
    50%{
        background-position: 50%;
     }
    66.6%{
         background-position: 0;
    }
    83.6%{
        background-position: 100%;
    }
    100%{
        background-position: 50%;
    }

}
.habilidades{
    text-align: center;
    margin-bottom: 300px;
}
.habilidade{
 height: 100px;
 width: 80px;
 margin: 0 40px;
}
.contato{
    background: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(10px);
    padding: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    top: 0%;
}
.contato p{
    color: antiquewhite;
    text-align: center;
}
.redes{
    text-align: center;
}
.redes img{
    height: 80px;
    width: 80px;
    margin: 0 40px;

}
.contato h3{
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.contato p{
    margin-bottom: 20px;
}
@media screen and (max-width: 1115px) {
    .cabeçalho{
        
        display: block;
        
    }
    .icones{
        
        text-align: center;
    }
    .botoes{
        margin-top: 40px;
        margin-left: 5%;
        width: 95% auto;
        text-align: center;
       
        

    }
    .imagem{
         margin-bottom: 100px;
         
    }
    .apresentacao{
          margin-top: 0;
      }
  
}
@media screen and (max-width: 940px) {
   
    .botoes > a{
        width: 40%;
    }
    #habilidades{
        width: 700PX;
    }
    
   
}